<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <base href="@Url.Content("~/")">
    <link rel="icon" href="@Url.Content("~/synapse-logo.png")" />
    
    <link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    @RenderSection("heads", required: false)

    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>  
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.aspnetmvc.min.js"></script>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

    </environment>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="navbar-brand">
                            <li id="hamburger-menu" class="dropdown">
                                @*<a class="dropdown-toggle" data-toggle="dropdown" href="#"> &#9776;</a>*@
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-bars"></i></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Plans", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Requests", "Requests", "Home")</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="navbar-brand">
                            @*@Html.ActionLink("Synapse", "Index", "Home", null, new { @class = "navbar-brand" })*@
                            <span>Synapse&nbsp;&#8208;&nbsp;@ViewBag.Title</span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main">
            @RenderBody()
        </div>
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year</p>
        </footer>

        <script>if (Boolean(window.chrome)) document.body.className += ' ' + 'chrome';</script>
        @*@Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/kendo")*@
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
